/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-font-weight);
  background-image:
    repeating-linear-gradient(
      90deg,
      var(--gradient) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(0deg, var(--gradient) 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
}

.rubber-block {
  width: var(--block-size);
  border: 2px solid black;
  justify-self: center;
  background-color: #ffffff;
}

/*
header classes.
*/
.header {
  padding-top: clamp(122px, calc(122px + 8 * (100vw - 375px) / 325), 128px);
  padding-bottom: clamp(122px, calc(122px + 8 * (100vw - 375px) / 325), 130px);
  padding-right: clamp(
    16px,
    calc(16px + 106.5 * (100vw - 375px) / 325),
    122.5px
  );
  padding-left: clamp(
    16px,
    calc(16px + 106.5 * (100vw - 375px) / 325),
    122.5px
  );
  height: clamp(327px, calc(327px + 41 * (100vw - 375px) / 325), 368px);
  margin-top: 100px;
  margin-bottom: 100px;
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(49px, calc(49px + 16 * (100vw - 375px) / 325), 65px);
  font-weight: 400;
  justify-self: center;
}

.header__main {
  font-family: var(--accent-font);
  font-size: clamp(14px, calc(14px + 9 * (100vw - 375px) / 325), 23px);
  font-weight: 400;
  margin-top: 21px;
  justify-self: center;
  text-transform: uppercase;
}

/*
main class.
*/
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}

/*
card classes.
*/
.card {
  display: flex;
  flex-direction: column;
}

.card > * + * {
  margin-top: 25px;
}

.card > :nth-child(2) {
  margin-top: 0;
}

.card__title {
  font-family: var(--main-font);
  font-size: 18px;
  font-variation-settings: "wght" var(--title-font-weight);
  line-height: 100%;
  padding-top: 6px;
  padding-left: 10px;
  margin-bottom: 6px;
}

.card__main__container {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  gap: 25px;
}

.card__main {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: var(--main-font-weight);
  line-height: 21px;
}

.label {
  font-family: var(--accent-font);
  position: absolute;
  top: 25px;
  right: 0;
  margin-right: 3.6%;
  text-shadow: 1px 1px 0 #ffffff;
  opacity: 50%;
  mix-blend-mode: hard-light;
  z-index: 1;
}

@supports (text-stroke: 1px #ffffff) or (-webkit-text-stroke: 1px #ffffff) {
  .label {
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px #ffffff;
    text-shadow: none;
  }
}

/*
image classes.
*/
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__container {
  overflow: hidden;
  height: 696px;
  position: relative;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.girl__sunrise {
  filter: blur(5px);
}

.moon__hand {
  filter: brightness(0.4);
}

.girl__umbrella {
  filter: contrast(200%);
}

.lilac__valley {
  filter: drop-shadow(16px 16px 20px blue);
}

.swan__pair {
  filter: grayscale(50%);
}

.girl__mountain {
  filter: contrast(175%) brightness(30%);
}

.brench__tree {
  filter: opacity(25%);
}

.landscape__mountain {
  filter: saturate(30%);
}

/*
button classes.
*/
.flex__container {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-bottom: 25px;
}

.button {
  width: 130px;
  height: 38px;
  border: 2px solid #000000;
  background-color: #ffffff;
  margin-right: 25px;
  position: relative;
  overflow: hidden;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  color: #ffffff;
  mix-blend-mode: difference;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #000000;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

/*
card__icon button classes.
*/
.card__icon-button {
  width: 38px;
  height: 38px;
  align-self: center;
  background-color: #ffffff;
  padding: 0;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: rgb(0, 0, 0);
}

/*
save button classes.
*/
.save__button {
  width: 335px;
  min-height: 55px;
  margin-right: 0px;
}

.save__button .button {
  width: 100%;
  height: 100%;
  margin-right: 0px;
}

.save__button__svg {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 2;
  color: #ffffff;
  mix-blend-mode: difference;
}

/*
dialog classes.
*/
.dialog[open] {
  width: 353px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 27px;
  border: 2px solid #000000;
}

.dialog__button {
  width: 100%;
  border: 2px solid #000000;
  padding: 0;
  margin-right: 0;
}

.dialog__button__main {
  width: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 1;
  color: #ffffff;
  mix-blend-mode: difference;
}

.dialog__button__main__text {
  font-family: var(--accent-font);
  font-size: 14px;
  max-width: 200px;
}

dialog::backdrop {
  background-color: rgb(0 0 0);
  opacity: 75%;
}

.dialog__flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.dialog__svg {
  width: 39px;
  height: 39px;
}

.dialog__form {
  width: 100%;
  height: 100%;
}

@media (width <= 376px) {
  .header__main {
    margin-top: 18px;
  }

  .card__title {
    text-wrap: balance;
    line-height: 115%;
  }

  .label {
    top: 22px;
    right: 12px;
  }

  .image__container {
    height: 371px;
  }

  .save__button {
    width: 306px;
    min-height: 84px;
  }

  .save__button .button__text {
    flex-direction: column;
  }

  .save__button__svg {
    width: 28px;
    height: 28px;
  }

  .dialog[open] {
    width: 341px;
    padding: 30px 36px;
  }

  .dialog__flex {
    width: 261px;
  }

  .dialog__button {
    width: 261px;
  }
}

.heart {
  transform-origin: center;
}

.sparks {
  opacity: 0%;
}

.countour {
  fill: var(--countour-color);
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon {
  overflow: visible;
  margin: auto;
}

.like-icon:hover .core {
  fill: var(--countour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--countour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .countour {
  --countour-color: #ff0000;
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: spark-fade 0.3s 0.3s ease-in;
}
